<div class="contact-container container-block">
  <div class="contact-icons">
    {% if sidebar.email %}
    <a href="mailto:{{ sidebar.email }}" class="contact-icon"><i class="fas fa-envelope"></i></a>
    {% endif %}

    {% if sidebar.orcid%}
    <a href="https://orcid.org/{{ sidebar.orcid }}" target="_blank" class="contact-icon"><i class="fab fa-orcid"></i></a>
    {% endif %}

    {% if sidebar.scholar%}
    <a href="https://scholar.google.com/citations?user={{ sidebar.scholar }}" target="_blank" class="contact-icon"><i class="fab fa-google"></i></a>
    {% endif %}

    {% if sidebar.linkedin %}
    <a href="https://linkedin.com/in/{{ sidebar.linkedin }}" target="_blank" class="contact-icon"><i class="fab fa-linkedin"></i></a>
    {% endif %}

    {% if sidebar.github %}
    <a href="http://github.com/{{ sidebar.github }}" target="_blank" class="contact-icon"><i class="fab fa-github"></i></a>
    {% endif %}

    {% if sidebar.twitter %}
    <a href="https://x.com/{{ sidebar.twitter }}" target="_blank" class="contact-icon"><span style="font-family: serif; font-weight: bold; font-size: 16px; display: inline-block; width: 18px; text-align: center;">𝕏</span></a>
    {% endif %}


  </div>
</div><!--//contact-container-->
