{% assign writing = site.data.data.writing %}
{% if writing %}
<section class="section">
  <h2 class="section-title"><i class="fas fa-feather"></i>{{ writing.title }}</h2>

  {% for item in writing.items %}
  <div class="item">
    <span class="project-title">
      {% if item.link %}
      <a href="{{ item.link }}" target="_blank">{{ item.title }}</a>
      {% else %}
      {{ item.title }}
      {% endif %}
    </span>
    {% if item.tagline %}
    - <span class="project-tagline">{{ item.tagline }}</span>
    {% endif %}
  </div>
  {% endfor %}

</section>
{% endif %}
