/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  body {
    padding: 15px;
  }

  .wrapper {
    display: block;
    border-radius: 8px;
  }

  .sidebar-wrapper {
    position: static;
    width: inherit;
  }

  .main-wrapper {
    padding: 40px 30px;
  }

  .main-wrapper .time {
    position: static;
    display: block;
    margin-top: 5px;
    margin-left: 0;
  }

  .main-wrapper .upper-row {
    margin-bottom: 8px;
    flex-direction: column;
    align-items: flex-start;
  }
}
/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .skillset .level-title {
    display: inline-block;
    float: left;
    width: 35%;
    margin-bottom: 0;
    padding-right: 15px;
  }

  .skillset .level-bar {
    display: inline-block;
    width: 65%;
    float: left;
    position: relative;
    top: 4px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* Ex-Large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
